apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - cluster-issuer.yaml
  - certificate.yaml

patches:
  - path: patch-ingress.yaml
    target:
      kind: Ingress