apiVersion: v1
kind: ServiceAccount
metadata:
  name: argocd-bootstrap
  namespace: kube-system
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-bootstrap-token
  namespace: kube-system
  annotations:
    kubernetes.io/service-account.name: argocd-bootstrap
type: kubernetes.io/service-account-token
