services:

  streamlit:
    container_name: streamlit
    build: 
      context: ../
      dockerfile: docker/Dockerfile.streamlit
    image: rmangana/streamlit:latest
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    networks:
      - web
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${SERVER_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  web:
    external: false

volumes:
    nginx-html:
    nginx-certs: