  services:
    db:
      container_name: TCGPlayerDB
      image: rmangana/tcgplayerdb:latest
      build:
        context: ./
        dockerfile: Dockerfile.db
      environment:
        - POSTGRES_USER=rmangana
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=tcgplayerdb
      ports: 
        - "5432:5432"
      volumes:
        - $VOLUME_PATH:/var/lib/postgresql/data
      restart: always
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "rmangana"]
        interval: 10s
        timeout: 5s
        retries: 5