apiVersion: v1
kind: Secret
metadata:
  name: cluster-k3s-${NAME}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: cluster
stringData:
  name: k3s-${NAME}
  server: ${SERVER}
  config: |
    {
      "bearerToken": "${TOKEN}",
      "tlsClientConfig": {
        "caData": "${CA}"
      }
    }
