name: Destroy Cluster

on:
  workflow_dispatch:

jobs:
  destroy:
    env:
        AWS_ACCESS_KEY_ID: ${{ secrets.MINIO_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.MINIO_SECRET_KEY }}
        AWS_EC2_METADATA_DISABLED: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Write terraform.tfvars
        shell: bash
        run: |
          cat <<EOF > terraform/terraform.tfvars
          linode_token    = "${{ secrets.LINODE_TOKEN }}"
          root_pass       = "${{ secrets.ROOT_PASS }}"
          ssh_key         = "${{ secrets.SSH_KEY }}"
          home_ip         = "${{ secrets.HOME_IP }}"
          private_key_path = "$HOME/.ssh/id_rsa_rgbdekstop"
          k3s_token       = "${{ secrets.K3S_TOKEN }}"
          argocd_url      = "${{ secrets.ARGOCD_URL }}"
          argocd_ip       = "${{ secrets.ARGOCD_IP }}"
          argocd_password = "${{ secrets.ARGOCD_PASSWORD }}"
          EOF

      - name: Download state
        uses: actions/download-artifact@v4
        with:
            name: tfstate
            path: terraform

      - name: Terraform Destroy
        run: |
            cd terraform
            terraform destroy -auto-approve


      - name: Terraform Init
        run: |
            cd terraform 
            terraform init
            terraform destroy -auto-approve
